@tailwind base;
@tailwind components;
@tailwind utilities;

@import "leaflet/dist/leaflet.css";

:root {
  color-scheme: light;
}

body {
  background: theme("colors.kulam.cream");
  color: #1f2937; /* soft slate (not pure black) */
}

.leaflet-container {
  font-family: Georgia, serif;
}
